body{
    margin:0px;
    padding: 0px;
}
#nav-bar {
    background-color:#FFFFFF ;
    /* border:1px solid black; */
    margin: 0px;
    height: 92px;
    width: 1600px;
    display: flex;
    justify-content:space-between;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
}
img{
    margin-top: 16px;
    height: 60px;
    width: 139px;
    margin-left: 120px;
}
#nav-bar .bar{
    
    display: inline;
    /* border:1px solid blue; */
    width: 365px;
}
#nav-bar .bar ul{
    /* border:1px solid green; */
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    margin-top:34px;
}
.btn #Get-btn{
    background-color: #469165;
    height: 44px;
    width: 164px;
    font-size: 16px;
    font-family: inter;
    margin: 24px 120px;
}

/* for section below-nav */
#below-nav{
    /* border:1px solid green; */
    margin: 0px;    
    height: 674px;
    width: 1600px;
    background-image: url("../media/hero-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-of-below-nav{
    /* border:1px solid purple; */
    width: 1360px;
    height: 450px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap:2px;
    margin-bottom: 25px;
    /* text-align: center; */
}

.all-of-below-nav #early-access{
    /* border:1px solid blue; */
    background: #FFFFFF;
    height: 35px;
    width: 229px;
    color: #469165;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 5px;

    
 }
.hero-h2{
    /* border:1px solid red; */
    height: 195px;
    width: 1360px;
    margin-bottom: 0px;
}
#structure-thinking{
    color:#FFFFFF;
    font-size: 4em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}
#not-just{
    color:#30B868;
    font-size: 4em;
    text-align: center;
    margin-top: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.small-writing{
    /* border: 1px solid black; */
    margin-top: 16px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.two-btn{
    height: 52px;
    width: 600px;
    }
#btn-start{
    background-color: #30B868;
    font-size: 16px;
    height:52px;
    width:251px;

}
#See-How{
    background: transparent;
    height: 52px;
    width: 251px;
    color: #FFFFFF;
    font-size: 16px;
}

.section2{
    /* border: 1px solid green; */
    background-color: #FFFFFF;
    height: 448px;
    width: 1600px;
    margin: 0px;
    /* overflow: visible; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

.section2 #Note-Dont-Fail{
    /* background-color: lightcoral; */
    height: 152px;
    width: 1360px;
    text-align: center;
}

#cards-of-notes{
    background-color: #FFFFFF;
    height: 300px;
    width: 1360px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;

}
#Notes{
    color: #001931;
     font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

#YouAreNotBad{
    color: #627382;
    margin-bottom: 0px;
    padding: top 8px;
}
.cards-of-notes{
    display: flex;
    gap: 5px;

  
}
.card {
    /* border: 1px solid lightgreen; */
    height: 300px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    box-shadow: 2px 3px black;

    
    
}
.card img{
    
    border-radius: 50%;
    background-color: #F95555;
    height: 60px;
    width: 60px;
    margin-bottom: 0px;
}
.card p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin:0px;
}
.m{
    margin-top: 0px;
    font-size: 2em;
}


 
