body{
    margin:0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
}
#nav-bar {
    background-color:#FFFFFF ;
    /* border:1px solid black; */
    margin: 0px;
    height: 92px;
    width: 1600px;
    display: flex;
    justify-content:space-between;
   
    
}
img{
    margin-top: 16px;
    height: 60px;
    width: 139px;
    margin-left: 120px;
}
#nav-bar .bar{
    
    display: inline;
    /* border:1px solid blue; */
    width: 365px;
}
#nav-bar .bar ul{
    /* border:1px solid green; */
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    margin-top:34px;
}
.btn #Get-btn{
    background-color: #469165;
    height: 44px;
    width: 164px;
    font-size: 16px;
    margin: 24px 120px;
}

/* for section below-nav */
#below-nav{
    /* border:1px solid green; */
    margin: 0px;    
    height: 674px;
    width: 1600px;
    background-image: url("../media/hero-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-of-below-nav{
    /* border:1px solid purple; */
    width: 1360px;
    height: 450px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap:2px;
    margin-bottom: 25px;
    /* text-align: center; */
}

.all-of-below-nav #early-access{
    /* border:1px solid blue; */
    background: #FFFFFF;
    height: 35px;
    width: 229px;
    color: #469165;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
        
 }
.hero-h2{
    /* border:1px solid red; */
    height: 195px;
    width: 1360px;
    margin-bottom: 0px;
}
#structure-thinking{
    color:#FFFFFF;
    font-size: 4em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}
#not-just{
    color:#30B868;
    font-size: 4em;
    text-align: center;
    margin-top: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.small-writing{
    /* border: 1px solid black; */
    margin-top: 16px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
#smallWriting{
    display: flex;
    justify-content: center;
    align-items: center;
}

#early-access{
    margin-top: 2px;
margin-bottom: 0px;
}

#dot{
  border-radius: 50%;
  color: #22c55e;
  background-color: #30B868;
  box-shadow: 0 0 0 5px #94eab4;
  

  
}

.two-btn{
    height: 52px;
    width: 600px;
    }
#btn-start{
    background-color: #30B868;
    font-size: 16px;
    height:52px;
    width:251px;
    color:white;

}
#See-How{
    background: transparent;
    height: 52px;
    width: 251px;
    color: #FFFFFF;
    font-size: 16px;
}

.section2{
    /* border: 1px solid green; */
    background-color: #FFFFFF;
    height: 448px;
    width: 1600px;
    margin: 0px;
    /* overflow: visible; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

.section2 #Note-Dont-Fail{
    /* background-color: lightcoral; */
    height: 152px;
    width: 1360px;
    text-align: center;
}

#cards-of-notes{
    background-color: #FFFFFF;
    height: 300px;
    width: 1360px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;

}
#Notes{
    color: #001931;
     font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

#YouAreNotBad{
    color: #627382;
    margin-bottom: 0px;
    padding: top 8px;
}
.cards-of-notes{
    display: flex;
    gap: 5px;

  
}
.card {
    /* border: 1px solid lightgreen; */
    height: 300px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    box-shadow: 2px 3px black;

    
    
}
.card img{
    
    border-radius: 50%;
    background-color: #F95555;
    height: 60px;
    width: 60px;
    margin-bottom: 0px;
}
.card p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin:0px;
}
.m{
    margin-top: 0px;
    font-size: 2em;
}

.section3{
    /* border: 1px solid red; */
    height: 840px;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 .container-for-3{
    /* border:1px solid green; */
    height: 600px;
    width: 1360px;
    display: flex;
    gap:0px;

}

.section3 .container-for-3 img{
    height: 600px;
    width: 600px;
    margin: 0px;
}

.section3 .container-for-3 .side-board{
    /* border:1px solid rgb(10, 9, 9); */
    height: 600px;
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    background-color: #FFFFFF;
}

#the-solution{
    /* border: 1px solid blue; */
    width: 700px;
    height: 228px;
    margin-top:138px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
#capture-idea{
    /* border:1px solid lightcoral; */
    width: 700px;
    height: 128px;
}
#i-line{
    font-size: 16px;
    color: #469165;
    margin:0px;

}
#ii-line, #iii-line{
    font-size: 48px;
    color: #001931;
    margin: 0px;

}
#iii-line{
    margin-bottom: 5px;
}
#small-para1, #small-para2, #small-para3{
    margin: 0px;

}
#l1{
    margin-top:0px;
}
#t1, #t2, #t3, #t4{
    border-radius: 50%;
    background: #469165;
    color: white;
    font-size: 12px;
}
.second-last{
    /* border: 1px solid peru; */
    height: 506px;
    width: 1600px;   
    margin: 0px;
    display: flex;
    justify-content: center;
    
}
.insideBox{
    /* border:1px solid red; */
    margin-top:0px;
    height:384px;
    width: 1360px;
    background: #F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#big-bold{
    color: #001931;
    font-size: 40px;
    margin:0px;

}

#small-sents{
    text-align: center;
    color: #627382;
    margin-bottom: 10px;
}

#join-tousand{
    /* border: 1px solid green; */
    font-size: 16px;
    margin-bottom: 0px;
}

#start-free{
    /* border: 1px solid red; */
    margin:0px;
    font-size:16px;
}

#last-btn{
    background-color: #469165;
    height: 44px;
    width: 164px;
    font-size: 16px;
    color: white;
}
#btnandline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:0px;


}

.foot{
    border: 1px solid black;
    height: 384px;
    width: 1600px;
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:80px;
    background: #001931;

}
#logoAndicon{
    /* border:1px solid lightcoral; */
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 1360px;
    margin-top:120px;
    margin-bottom: 45px;


}
#footlogo{
    margin: 0px;
}
.iconAndtext p{
    margin-top:0px;
    color:white;
}
#lastDiv{
    /* border:1px solid green; */
    width: 1360px;
    height: 54px;
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;

}
#lastDiv p{
    margin-top:25px;
    margin-bottom: 2px;
    font-size: 16px;
}